@model Web452Assignment1.Models.Bed

@{
    ViewData["Title"] = "Details";
}

<div>
    <a class="btn btn-primary" asp-controller="ProductCatalogue" asp-action="Index">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        Back
    </a>
    <div class="d-flex align-items-center">
        <h4 class="display-4 text-primary">@Html.DisplayFor(model => model.Name)</h4>
        <div class="p-4">
            @{
                string[] reviews = new string[Model.CustomerReview];
                foreach (var star in reviews)
                {
                    <span><i class="fa fa-star" aria-hidden="true" style="color: #c1bf14"></i></span>
                }
            }
        </div>
    </div>
    <hr />
    <div class="row m-0">
        <div class="col-lg-6 left-side-product-box pb-3">
            <img src="@Html.DisplayFor(model => model.Image)" class="border p-3">
        </div>
        <div class="col-lg-6">
            <div class="right-side-pro-detail border p-3 m-0">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="m-0 p-0">@Html.DisplayFor(model => model.Name)</p>
                    </div>
                    <div class="col-lg-12">
                        <p class="m-0 p-0 text-primary">$ @Html.DisplayFor(model => model.Price)</p>
                        <hr class="p-0 m-0">
                    </div>
                    <div class="col-lg-12 pt-2">
                        <p class="text-dark small">Type: @Html.DisplayFor(model => model.Type)</p>
                        <p class="text-dark small">Size: @Html.DisplayFor(model => model.Size)</p>
                        <p class="text-dark small">Designer: @Html.DisplayFor(model => model.Designer)</p>
                        <p class="text-dark small">Color: @Html.DisplayFor(model => model.Color)</p>
                        <hr class="m-0 pt-2 mt-2">
                    </div>
                    <div class="col-lg-12 mt-3">
                        <div class="row">
                            <div class="col-lg-12">
                                <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success w-100">Edit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

